# Dependencies
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/
frontend/out/

venv/
backend/venv/
__pycache__/
backend/__pycache__/
*.db
*.pyc
.env
backend/.env

backend/.dlt/secrets.toml
backend/temp_repos/
*.db-journal
